{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AbelMalu</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
   
</head>
<body>
    {% block content %}


    {% endblock %}



    <script src="{% static 'javascript.js' %}"></script>
    
<script src="https://kit.fontawesome.com/f3f8095a7e.js" crossorigin="anonymous"></script>


   
    
</body>
</html>