{% extends 'core/base_layout.html ' %}
{% load static %}

{% block content %}

<header>
    <nav>
        <p>Abel <span>M</span></p>
        
         <ul>
             <li> Home</li>
            <li>About</li>
            <li>Services</li>
            <li>Projects</li>
            <li>ContacMe</li>
        </ul>
       
    </nav>
</header>



<div class="container">
    <section class="hero">
        <div class="statment">
            <h4>Hey👋 I'm</h4>
            <h1>AbeL Malu </h1>
            <h2>Software Developer</h2>
            <p>Lorem, ipsum dolor sit ae repudiandae Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Minima voluptatibus delectus sint fuga similique accusantium!</p>
        </div>
        <div class="image">
            <img src="{% static 'hero.png' %}" alt="couldn't find">
        </div>
    </section>
</div>

<section class="about">
    <div class="about-img">
        <img src="{% static 'about.jpg' %}" alt="couldn't find the image">
    </div>
    <div class="about-me">
        <h1>AboutMe</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis veritatis illo pariatur exercitationem!</p>
        <button>Projects</button>
    </div>
</section>
    <div class="skill">
        <h1 class="heading">Tech Stack</h1>
        <div class="experience">
            <div>
                <i class="fa-brands fa-html5 fa-10x" style="color: #FFD43B;"></i>
                <h2>HTML</h2>

            </div>
            
            <div>
                <i class="fa-brands fa-css3 fa-10x" style="color: #2b3b36;"></i>
                <h2>CSS</h2>

            </div>
            
            <div>
                <i class="fa-brands fa-js fa-10x" style="color: #74C0FC;"></i>
                <h2>JavaScript</h2>

            </div>
            
            <div>
                <i class="fa-brands fa-python fa-10x" style="color: #B197FC;"></i>
                <h2>Python(Django)</h2>

            </div>
            
            <div>
                <i class="fa-brands fa-bootstrap fa-10x" style="color: #0d5761;"></i>
                <h2>Bootstrap</h2>

            </div>
            
            <div>
                <i class="fa-brands fa-react fa-10x" style="color: #34e5e2;"></i>
                <h2>React</h2>

            </div>
            
















            <!-- <div class="language">
                <h1>Programming Languages </h1>

                <div class="knowledge">
                    <h2>Python</h2>
                    <p>Advanced</p>
                </div>

                <div class="knowledge">
                    <h2>Java</h2>
                    <p>Intermediate</p>
                </div>

                <div class="knowledge">
                    <h2>JavaScript</h2>
                    <p>Intermediate</p>
                </div>
            </div>
            
            <div class="frontend">
                <h1>frontend</h1>

                
                <div class="knowledge">
                    
                    <div class="">
                        <h2>HTML</h2>
                        <p>advanced</p>
                    </div>
                </div>

                <d class="knowledge">
                    
                    <div>
                        <h2>CSS</h2>
                        <P>Intermediate</P>
                    </div>
                </div>
                
                <div class="knowledge">
                    <h2>React</h2>
                    <p>Basic</p>
                </div>


            </div>
            <div class="backend">
                <h1>Backend</h1>
                <div class="knowledge">
                    <h2>Django</h2>
                    <p>Intermediate</p>
                </div>
                <div class="knowledge">   
                    <h2>NodeJs</h2>
                    <p>Basic</p>
                </div>

                <div class="knowledge">
                    <h2>Laravel</h2>
                    <p>Basic</p>
                </div>

            </div> -->
        </div>

        
    </div>

<div class="services">
    <h1 class="services-h1">Services</h1>
    <div class="ma-offer">
        <div class="web-dev">
            <h1>Web Development</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        </div>
        <div class="py-auto">
            <h1>Python Automation</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

        </div>
        <div class="web-design">
            <h1>Web Designer</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>


<!-- contactme form -->



<div class="contact-me">
    <h1>Contact Me</h1>
    <div class="contact">
        <div class="location">
            
            <i class="fa-solid fa-house fa-xl"></i>
            <h3>Location</h3>
            <p>Jimma-Ethiopia</p>
        
        </div>
        <div class="phone">
            <i class="fa-solid fa-phone fa-xl"></i>
            <h3>Phone</h3>
            <p>+251949541366</p>

        </div>
        <div class="email">
            <i class="fa-regular fa-envelope fa-xl"></i>
            <h3>Email</h3>
            <p>abellmalu@gmail.com</p>

        </div>
        

    </div>

    <div class="form-div">
        
        <form action="">
            <div class="inputs">
                <input type="text" placeholder="Enter your name" class="name">
                <input type="text" placeholder="Enter your email" class="f-email">
            </div>
    
            <textarea name="" id="" cols="30" rows="15" class="" placeholder="Type your message "></textarea>
            <br>
            <br>
            <input type="submit" class="button" placeholder="Send">
    
        </form>
    
    
    </div>

    
   

{% endblock %}