
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #41292C;
}

.hero{
  
  
  /* background-color: rgba(100, 0, 25, 0.5); */
  display:grid;
  grid-template-columns: 400px 800px;
  gap: 10px;
  background-repeat: no-repeat;
  align-items: center;
  padding-left: 60px;
  padding-bottom:40px;
  padding-top:40px;
  justify-content: center;

  color:white;
  justify-content: center;
  /* background-blend-mode: multiply; */
  background-position: right right;
 
 


} 

.container{

/* background-image: url('e.jpg'); */
background-color: #41292C;
    background-size: cover;
}





.image{
    width:100%;
    height: auto;
}

.image img{
    /* width: 400px;
    height: auto; */
    width:100%
    /* border-radius: 200px; */
    /* padding-top:20px; */
}

.hero h1{
    font-size: 50px;
    padding:20px 0;
    font-weight: bold;

}

.hero h4{
    font-size:30px;
}

.hero h2 {
    margin-bottom:20px;
}

nav {
    display:grid;
    grid-template-columns:400px 500px;
    justify-content: center;
    padding:20px 0;
    background-color: #41292C;
    /* #937B63; */
    color:#fff;
    border: 20px;

}

nav ul {
    display: grid;
    grid-template-columns: repeat(5,100px);
    justify-content:end;
    
}
nav span {
    color:red;
}
nav ul li{
    list-style-type: none;

}

.about{
    display:grid;
    grid-template-columns:600px 300px;
    align-items: center;
    padding:60px;
    gap:10px;
    justify-content: center;
    grid-auto-columns: 250px;
    background-color: #41292C;
}
.about img{
    width:80%;
    height: auto;
    border: 8px solid white;
    border-radius: 20px;
   
}


.about-me{
    color:#fff;


}

.about-me h1{

    font-size: 40px;
    padding-bottom:20px;
}


button{
    padding:10px;
    margin:20px;
    font-size: 25px;
}

.heading {
    text-align: center;
    /* padding-left: 300px; */
    padding-top: 50px;
    font-size: 35px;
}
.experience{
    
    padding:30px;
    display:grid;
    grid-template-columns: repeat(3,300px);
    color: antiquewhite;
    gap:30px;
    justify-content: center;
    
}

.experience .language{
    border:10px solid #694348;
    padding:20px;
    text-align: center;
    border-radius: 20px;
   

}


.experience .frontend{
    border:10px solid #694348;
    padding:20px;
    text-align: center;
    border-radius: 20px;
   

}


.experience .backend{
    border:10px solid #694348;
    padding:20px;
    text-align: center;
    border-radius: 20px;
   

}


.knowledge{
    padding:10px 3px;
}

.knowledge div  {
    display:inline-block;

}

.services{
    color:#fff;
}

.ma-offer{
    display:grid;
    grid-template-columns: repeat(3,300px);
    gap: 30px;
    justify-content: center;

}

.web-dev{
    border: 10px solid #694348;
        padding: 20px 30px;
        text-align: center;
        border-radius: 20px;
        background-color: #694348;
}

.web-dev h1 {
    background-color: #694348;

}

.web-dev p {
    background-color: #694348;

}




.py-auto{
    border: 10px solid #694348;
        padding: 20px 30px;
        text-align: center;
        border-radius: 20px;
        background-color: #694348;
}

.py-auto h1 {
    background-color: #694348;

}

.py-auto p {
    background-color: #694348;

}

.web-design{
    border: 10px solid #694348;
        padding: 20px 30px;
        text-align: center;
        border-radius: 20px;
        background-color: #694348;
}



.web-design h1{
    background-color: #694348;

}
.web-design p{
    background-color: #694348;

}



.services-h1{
    text-align: center;
    padding:30px;


}
.contact-me h1{
    padding : 30px;
    text-align: center;
    color:#fff;

}
.contact-me{
    padding : 30px;
    color: #fff;

}

.contact{
    display: grid;
    grid-template-columns: repeat(3,300px);
    justify-content: center;
    gap:30px;
}
.location{
    border: 10px solid #694348;
    text-align: center;
    padding:30px;

    

}
.location h3{

    padding:10px;
    padding-top:15px;
}
.phone{
    border: 10px solid #694348;
    text-align: center;
    padding: 30px;

}
.phone h3 {

    padding: 10px;
    padding-top: 15px;
}

.email{
    border: 10px solid #694348;
    text-align: center;
    padding: 30px;

}
.email h3 {

    padding: 10px;
    padding-top: 15px;
}



form{
   padding:30px 0;
    margin:20px auto;
    text-align: center;
} 

form .name, .f-email{
    width:25%;
    padding:20px 0;
    margin:20px 0;
    border: 3px solid #694348;
    border-radius: 20px ;
    padding-left: 20px;
}

form textarea{
    width:50%;
    padding: 20px 0;
    border: 3px solid #694348;
    border-radius: 20px;
    padding-left: 20px;
}

form .button {
    padding:15px 20px;
    border-radius: 15px;
    color:white;
    background: rgba(10, 165, 165, 0.377);
}

